<nav>
    <ul class="menu">
        <li><a href="{{ path('accueil_index') }}">Accueil</a></li>
        <li><a href="{{ path('boutique_index') }}">Boutique</a></li>
        <li><a href="{{ path('classement_index') }}">Leaderboard</a></li>

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            
            <li class="last-item">
                <form action="{{ path('oauth_discord_connect') }}" method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('discord-auth') }}">
                    <button type="submit">Connexion</button>
                </form>
            </li>

        {% else %}
            
            <li class="dropdown last-item">
                <a href="#" class="dropdown-toggle">
                    <img src="{{ app.user.avatar }}" alt="Avatar of the member" />
                    {{ app.user.username }}
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('perso_index') }}">Mon perso</a></li>
                    <li><a href="{{ path('accueil_logout') }}">Déconnexion</a></li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin_index') }}">Administration</a></li>
                    {% endif %}

                </ul>
            </li>

        {% endif %}

    </ul>
</nav>