{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    
    <div class="container character">
    
        <h1>{{ title }}</h1>

        <div class="character-grid">
            <div class="char">
                Il faudra faire un grid afin d'afficher un personnage et ces items
            </div>

            <div class="inventory">

                {# Vérifier si l'inventaire a des items #}
                {% if inventory is not empty %}
                    {# Parcourez les items de l'inventaire #}
                    {% for inventoryItem in inventory['data'] %}

                        {#} 10 card 5*2 avec une pagination, les card doivent être vide si aucun item aussi non doit afficher l'image de l'item avec la stat de celui-ci en hover {#}
                        {# <div class="inventory-grid">
                            {% for slot in range(1, 11) %}
                                {% set itemInSlot = inventoryItem.items[loop.index0] ?? null %}
                                    <div class="grid-item">
                                        {% if itemInSlot is not null %}
                                            <img src="{{ vich_uploader_asset(itemInSlot, 'imageFile') | imagine_filter('thumb') }}" alt="{{ itemInSlot.name }}">
                                        {% else %}
                                            <img src="{{ path('', { 'item': itemInSlot.id }) }}" alt="{{ itemInSlot.name }}" alt="Empty Slot">
                                        {% endif %}
                                    </div>
                            {% endfor %}
                        </div> #}

                        <div class="char-cat">
                            <h2>{{ inventoryItem.items.category.name }}</h2>

                            <div class="card">
                                {# boucle #}
                                <div class="card-item">
                                    <div class="item-image">
                                        <img src="{{ vich_uploader_asset(inventoryItem.items, 'imageFile') | imagine_filter('card') }}" alt="{{ inventoryItem.items.name }}">
                                        <div class="item-feature">
                                            <p>{{ inventoryItem.items.name }}</p>
                                            {% if inventoryItem.items.stat is empty %}
                                                <p>Aucune statistique</p>
                                            {% else %}
                                                <div class="item-stat">
                                                    <p>{{ inventoryItem.items.stat.name }} : {{ inventoryItem.items.stat.amount }}</p>
                                                </div>
                                            {% endif %}
                                            <p>Score : {{ inventoryItem.items.score }}</p>
                                        </div>
                                    </div>

                                </div>
                                {# Fin de boucle #}
                            </div>

                        </div>

                    {% endfor %}
                {% else %}
                    <p>Aucun item</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}