{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    
    <div class="container character">
    
        <h1>{{ title }}</h1>

        <div class="char">
            Il faudra faire un grid afin d'afficher un personnage et ces items
        </div>

        <div class="inventory">

            {% for inventoryItem in inventory.data %}
                
                <div class="card">
                {#} 10 card 5*2 avec une pagination, les card doivent être vide si aucun item aussi non doit afficher l'image de l'item avec la stat de celui-ci en hover {#}
                    {# <div class="inventory-grid">
                        {% for slot in range(1, 11) %}
                            {% set itemInSlot = inventoryItem.items[loop.index0] ?? null %}
                            <div class="grid-item">
                                {% if itemInSlot is not null %}
                                    <img src="{{ path('', { 'item': itemInSlot.id }) }}" alt="{{ itemInSlot.name }}">
                                {% else %}
                                    <img src="{{ path('') }}" alt="Empty Slot">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div> #}
                    {# Vérifier si l'inventaire a des items #}
                    {% if inventoryItem.items is not empty %}
                        {# Parcourez les items de l'inventaire #}
                        {% for item in inventoryItem.items %}
                            <div class="card-item">
                                <p>{{ item.name }}</p>
                                <p>{{ item.description }}</p>
                                {% if item.stat is empty %}
                                    <p>Aucune statistique</p>
                                {% else %}
                                    <div>
                                        {% for stat in item.stat %}
                                            <p>{{ stat.name }}: {{ stat.amount }}</p>
                                            <p>{{ stat.description }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Aucun item</p>
                    {% endif %}
                </div>

            {% endfor %}
        </div>
        
    </div>

{% endblock %}