{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    
    <div class="container character">
    
        <h1>{{ title }}</h1>

        <div class="character-grid">
            <div class="char">
                Il faudra faire un grid afin d'afficher un personnage et ces items
            </div>

            <div class="inventory">

                {# Vérifier si l'inventaire a des items #}
                {% if inventory is not empty %}
                    {# Parcourez les items de l'inventaire #}
                    {% for category, items in inventory %}

                        <div class="char-cat">
                            <h2>{{ category }}</h2>

                            <div class="card">
                                {% for inventoryItem in items %}
                                <div class="card-item">
                                    <div class="item-image">
                                        <img src="{{ vich_uploader_asset(inventoryItem.items, 'imageFile') | imagine_filter('card') }}" alt="{{ inventoryItem.items.name }}">
                                        <div class="item-feature">
                                            <p>{{ inventoryItem.items.name }}</p>
                                            {% if inventoryItem.items.stat is empty %}
                                                <p>Aucune statistique</p>
                                            {% else %}
                                                <div class="item-stat">
                                                    <p>{{ inventoryItem.items.stat.name }} : {{ inventoryItem.items.stat.amount }}</p>
                                                </div>
                                            {% endif %}
                                            <p>Score : {{ inventoryItem.items.score }}</p>
                                        </div>
                                    </div>

                                </div>
                                {% endfor %}
                            </div>

                        </div>

                    {% endfor %}
                {% else %}
                    <p>Aucun item</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}