{% extends 'admin-base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    
    <div class="container admin">
    
        <h1>{{ title }}</h1>

        <div class="alert">
        {% for message in app.flashes('success') %}
            <div class="alert-success">{{ message }}</div>
        {% endfor %}
        </div>

        <table class="tab-stat">
            <thead>
                <tr>
                    <th class="size-field-items field-name">Nom</th>
                    <th class="field-drop">Stat</th>
                    <th class="field-action">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in statistics %}
                    <tr>
                        <td class="name_cell">{{ stat.name }}</td>
                        <td class="center">{{ stat.amount }}</td>
                        <td class="actions">
                            <a class="btn btn-edit" href="{{ path('admin_statistics_edit', {id: stat.id}) }}" style="font-size: .9rem; text-decoration: none; padding: 8px">Éditer</a>

                            <form method="POST" action="{{ path('admin_statistics_delete', {id: stat.id}) }}" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cette statistique ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('admin/statistics/delete' ~ stat.id) }}">
                                <button class="btn btn-delete">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="stat-new">
            <a href="{{ path('admin_statistics_new') }}">Créer une nouvelle rareté</a>
        </div>
        
        <div class="back-url">
            <a href="{{ path('admin_index') }}"><ion-icon name="caret-back-circle-outline"></ion-icon><span>Retour</span></a>
        </div>
        
    </div>

{% endblock %}