{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    
    <div class="container">
    
        <h1>{{ title }}</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Stat</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.stat.amount }}</td>
                        <td>
                            <a class="btn btn-edit" href="{{ path('admin_items_edit', {id: item.id}) }}" style="font-size: .9rem; text-decoration: none; padding: 8px">Éditer</a>

                            <form method="POST" action="{{ path('admin_items_delete', {id: item.id}) }}" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cet item ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('admin/items/delete' ~ item.id) }}">
                                <button class="btn btn-delete">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="cat-new">
            <a href="{{ path('admin_items_new') }}">Créer un nouvel item</a>
        </div>
        
    </div>

{% endblock %}