{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    
    <div class="container admin">
    
        <h1>{{ title }}</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <table class="tab-items">
            <thead>
                <tr>
                    <th class="size-field-items field-name">Nom</th>
                    <th class="field-stat">Stat</th>
                    <th class="field-drop">Taux de drop</th>
                    <th class="field-score">Score de l'item</th>
                    <th class="field-icon">Icon</th>
                    <th class="field-action">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td class="center">
                            {% for stat in item.stat %}
                                {{ stat.amount }}
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td class="center">{{ item.rarity ? item.rarity.getDropRate() ~ ' %' : 'N/A' }}</td>
                        <td class="center">{{ item.score }}</td>
                        <td>
                            <div class="image-cell">
                            {% if item.filename %}
                                <img src="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('thumb') }}" alt="">
                            {% else %}
                                <img src="" alt="Icon">
                            {% endif %}
                            </div>
                        </td>
                        <td class="actions">
                            <a class="btn btn-edit" href="{{ path('admin_items_edit', {id: item.id}) }}" style="font-size: .9rem; text-decoration: none; padding: 8px">Éditer</a>

                            <form method="POST" action="{{ path('admin_items_delete', {id: item.id}) }}" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cet item ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('admin/items/delete' ~ item.id) }}">
                                <button class="btn btn-delete">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="items-new">
            <a href="{{ path('admin_items_new') }}">Créer un nouvel item</a>
        </div>
        
        <div class="back-url">
            <a href="{{ path('admin_index') }}"><ion-icon name="caret-back-circle-outline"></ion-icon><span>Retour</span></a>
        </div>
        
    </div>

{% endblock %}