{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    
    <div class="container admin">
    
        <h1>{{ title }}</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {{ form_start(form, {attr: {class: 'form-new'}}) }}

            {{ form_row(form.name) }}

            {{ form_row(form.description) }}

            {{ form_row(form.category) }}

            {{ form_row(form.rarity) }}

            {{ form_row(form.stat) }}

            <button type="submit">Enregistrer</button>

        {{ form_end(form) }}
        
        <div class="back-url">
            <a href="{{ path('admin_items_index') }}"><ion-icon name="caret-back-circle-outline"></ion-icon><span>Retour</span></a>
        </div>
        
    </div>

{% endblock %}